@charset "UTF-8";

/*ESTILO MOBILE*/

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;  
}

body {
    font-size: 1em;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.24);

}

header {
    background-color: rgb(92, 91, 91);
    padding: 10px;
    flex-flow: column nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#burger {
    display: block;
    color: white;
    cursor: pointer;
}

header h1 {
    /*border: 1px dotted black;*/
    color: white;
    flex-basis: 40px;
}

header nav {
    /*border: 1px dotted black;*/
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
        
}

header nav a {
    background-color: black;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 86vw;
    border-radius: 7px;
}

header nav a:hover {
    background-color: white;
    color: black;
    transition-duration: .3s;
}

main {
    background-color: white;

    margin: 10px;
    padding: 10px;

    border-radius: 10px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.212);

} 

main h2 {
    text-align: center;
    padding: 5px;
}

